@model WebMVC.ViewModels.MovieItemViewModel


@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Movie.ID" />
            <div class="form-group">
                <label asp-for="@Model.Movie.Title" class="control-label"></label>
                <input asp-for="@Model.Movie.Title" class="form-control" />
                <span asp-validation-for="@Model.Movie.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.ReleaseDate" class="control-label"></label>
                <input asp-for="@Model.Movie.ReleaseDate" class="form-control" />
                <span asp-validation-for="@Model.Movie.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.Genre" class="control-label"></label>
                <input asp-for="@Model.Movie.Genre" class="form-control" />
                <span asp-validation-for="@Model.Movie.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Movie.Price" class="control-label"></label>
                <input asp-for="@Model.Movie.Price" class="form-control" />
                <span asp-validation-for="@Model.Movie.Price" class="text-danger"></span>
            </div>
            <div>
                <select asp-for="@Model.Movie.CompanyID" asp-items="@Model.Companys"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}